@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    font-family:'Montserrat', sans-serif;
    text-transform: capitalize;
}


/*seccion navegador*/

.layout__nav {
    width: 100%;
    height: 55px;
    position: relative;
}

.layout__navbar {
    position: fixed;
    background: #cddebb;
    z-index: 40;
}

.nav__link {
    text-decoration: none;
    color: #222;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.nav__search {
    border: none;
    border-radius: 20px;
    opacity: 0.7;
    background: transparent;
    color: #444;
}

.layout__container {
    max-width: 1000px ;
    width: 100%;
}



/*seccion header*/

.header__link {
    text-decoration: none;
    color: #222;
    padding:0 22px 0 0;
    font-size: 1em;
}

.header__links {
    width: 100%;
    margin-top: 55px;
}

@media (min-width: 992px) {
    .header__links {
        margin-bottom: 65px;
    }
}

.navbar-toggler-icon {
    
}

.layout__header {
    border-bottom: 2px solid #222 ;
    font-weight: 100;
}

.header__img {
    height: 140px;
    margin: 0%;
}


/*enlaces entre paginas*/
.layout__entrepaginas {
    color:#859474;
}


/*main*/

.main__card:hover .transition-zoom{
    transform: scale(1.1);
    transition: 250ms;
    box-shadow: 0 0 5px #3337;
    border-radius: 3px;
}

.transition-zoom {
    transition: transform 0.4s ease-in-out;
    object-fit: cover;
}

.main__card {
    padding-bottom: 5px;
    margin-bottom: 15px;
    height: 425px;
}

.main__title {
    font-size: 1.8em;
    font-weight: 600;
}

.main__img {
    width: 100%;
    height: 250px;
}

.card__btn {
    background:#ffc484;
    text-decoration: none;
    color: inherit;
    padding:7px ;
    border-radius: 6px;
    position: relative;
    bottom: 0px;
}

.card__btn:hover {
    background: #ffd8af;
    border: none;
}


/*hoster-main*/

.hoster__card {
    background: #fcf7f2 ;
    max-width: 100%;
    border: none;
    box-shadow: 1px 0 5px #777;
    border-radius: 4px;
}

.card__subtitulo {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9em;
}

.card__titulo {
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 700;
    color: #222;
}

.card__description {
    font-size: 0.9em;
    font-family:;
    font-weight: 100;
}

.hoster__btn {
    margin-top: 20px;
    font-size: 0.8em;
    padding: 8px 20px;
    border: 2px solid #3339;
    text-transform: uppercase;
    border-radius: 3px;
}

.hoster__btn:hover {
    border:none;
    background: #fda6 ;
}

.hoster__img {
    max-height: 460px;
    width: 100%;
}


/*carousel*/

.carousel {
    margin: 40px auto;
    display: flex;
    overflow-x: auto;
    background: #fda6;
    box-shadow: 0 0 10px #2226;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-left: 15px ;
    opacity: 0.9;
}

.carousel__card {
    flex: 0 0 5em;
    height: 7em;
    font-size: 3rem;
    border-radius: 2px;
    text-align: center;
    align-content: center;
}


@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}


/*footer*/

.footer__text {
    text-transform: uppercase;
    margin:auto;
}

.footer__enlaces {
    padding-top: 30px;
    display: block;
    margin: auto;
}

.footer__link {
    text-decoration: none;
    color: inherit;
}

.footer__logo {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    box-shadow: 0 0 5px #333;
    margin-bottom: 10px;
}

.footer__logo:hover {
    transform: scale(1.1);
    transition: 250ms;
}