@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background: #cdb;
    margin: auto;
    font-family:'Montserrat', sans-serif;
}

.layout__card {
    max-width: 900px;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    margin-top:100px;
    margin-bottom: 100px;
    background: #fefefe;
    border-radius: 0px;
    box-shadow: 0 25px 15px #3336;
}

.layout__form {
    padding:20px 10px 10px 40px;
}

.form__firma {
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}

.card__title {
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: 600;
    color: #6409;
}

.card__subtitle {
    font-size: 0.8em;
}

.card__form {
    display:flex;
    flex-direction: column;
}

.card__label{
    margin-top: 30px;
    opacity: 0.6;
}

.form__casillas {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
}

.form__textarea {
    width: 100%;
    margin-top:20px ;
}

#form__submit {
    border: none;
    background: #cdb;
    border-radius: 2px;
    padding:5px 15px;
    margin: 10px 0;
}

#form__submit:hover {
    transform:scale(1.1);
    transition: 250ms;
}

.form__link {
    margin-top: 20px;
    opacity: 0.7;
}

.form__sigin{
    text-decoration: none;
    color: #640;
    text-shadow: 0 0 5px #6404;
    margin-left: 5px;
    font-size: 1.2em;
}

.form__img {
    height: 100%;
    width: 100%;
    margin: 0;
}
